<div class="modal fade" id="userFilterModal" tabindex="-1" aria-labelledby="userFilterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userFilterModalLabel">Filtrer les utilisateurs</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mt-3">
                {# {{ form(userFilterForm) }} #}
                    {{ form_start(userFilterForm) }}

                        {{ form_label(userFilterForm.email) }}
                        {{ form_widget(userFilterForm.email, {'attr': {'class': 'form-control'}}) }}

                        {{ form_label(userFilterForm.phone) }}
                        {{ form_widget(userFilterForm.phone, {'attr': {'class': 'form-control'}}) }}

                        {{ form_label(userFilterForm.firstname) }}
                        {{ form_widget(userFilterForm.firstname, {'attr': {'class': 'form-control'}}) }}

                        {{ form_label(userFilterForm.lastname) }}
                        {{ form_widget(userFilterForm.lastname, {'attr': {'class': 'form-control'}}) }}

                        {{ form_widget(userFilterForm.submit, {'attr': {'class': 'btn pi-bg text-white mt-3'}}) }}

                        {# On récupère les paramètres d'url pour les réinjecter dans le formulaire #}
                        {% set queryParams = app.request.query.all %}

                        {% for key, value in queryParams %}
                            {% if key != 'user_filter' %}
                                <input type="hidden" name="{{ key }}" value="{{ value }}">
                            {% else %}
                                {% for vkey, vvalue in value %}
                                    <input type="hidden" name="{{ vkey }}" value="{{ vvalue }}">
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                    {{ form_end(userFilterForm) }}
                </div>
            </div>
        </div>
    </div>
</div>